NaoTH2011-light/NaoTHToolChain_Ubuntu64
NaoTH2011-light/NaoTHSoccer/doc
NaoTH2011-light/Framework/doc
NaoTH2011-light/RobotControl/RobotConnector
NaoTH2011-light/NaoScp
NaoTH2011-light/NaoTHSoccer/build
NaoTH2011-light/NaoTHSoccer/dist
NaoTH2011-light/naoqi-sdk-1.14.1-linux32